<div class="text-xl-center"'>
  <h1 class="text-center">View all flats</h1>
</div>
<div class="content">
  <div class="card-container">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat), :class => "text-decoration-none" do %>
        <div class="card-flat align-items-stretch">
          <%= cl_image_tag flat.photo.key, :class => "img", crop: :fill if flat.photo.attached? %>
          <div class="card-flat-info">
            <div>
              <h2><%= flat.name %></h2>
            </div>
            <div class="d-flex justify-content-between">
              <div class="rooms">
                <i class="fa-solid fa-bed"></i>
                <span><%= flat.rooms %></span>
              </div>
              <div class="price">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= flat.price %>/night</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%# !! Dealing with mapbox %>
  <div data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-markers-value="<%= @markers.to_json %>" data-map-zoom-value=10 id='map'></div>
</div>
