<h1 class="display-3 text-center">View all flats</h1>
<div class="container-fluid d-flex">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card">
          <%= link_to flat_path(flat), :class => "text-decoration-none" do %>
            <%= cl_image_tag flat.photo.key, :class => "card-img-top", crop: :fill if flat.photo.attached? %>
            <div class="card-body text-black">
              <h5 class="card-title"><%= flat.name %></h5>
              <p class="card-text">
                <i class="fa-solid fa-bed"></i>
                <span><%= flat.rooms %></span>
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= flat.price %>/night</span>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%# !! Dealing with mapbox %>
  <div class="col-sm-0 col-md-0 col-lg-4 col-xl-4 mx-3">
    <div data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-markers-value="<%= @markers.to_json %>" data-map-zoom-value=10 id='map'></div>
  </div>
</div>
