<div class="text-xl-center"'>
  <h1>AirNbN - Your best option for booking!</h1>
</div>
<div class="content">
  <div class="card-container">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat), :class => "text-decoration-none" do %>
        <div class="card-flat">
          <%= cl_image_tag flat.photo.key, :class => "img", crop: :fill if flat.photo.attached? %>
          <div class="card-flat-info">
            <div>
              <h2><%= flat.name %></h2>
              <p><%= flat.description.truncate(20, separator: ' ')%></p>
            </div>
            <div class="card-flat-attr">
              <i class="fa-solid fa-bed"></i>
              <span><%= flat.rooms %></span>
              <i class="fa-solid fa-euro-sign"></i>
              <span><%= flat.price %></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%# !! Dealing with mapbox %>
  <div data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-markers-value="<%= @markers.to_json %>" data-map-zoom-value=10 id='map'></div>
</div>
