<% require 'date' %>
<% current_day = DateTime.current.to_date %>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h2><%= @flat.name %></h2>
      </div>
      <div class="flat-show-card">
        <h3>(Insert picture)</h3>
      </div>
      <% if policy(@flat).edit? %>
        <%= link_to "Edit", edit_flat_path, class: "btn btn-warning" %>
      <% end %>
      <% if policy(@flat).destroy? %>
        <%= link_to "Delete", root_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <% end %>
    </div>
    <div class="col-4" >
      <div class="flat-show-card">
        <h5>Reserve your booking!</h5>
        <%= @flat.price %>€ per night
        <form action="">
          <div class="input-group">
            <span class="input-group-text" id="start-date-label">Check-in</span>
            <input type="date" class="form-control" value="<%= current_day %>">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="end-date-label">Checkout</span>
            <input type="date" class="form-control">
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <span class="form-label">Rooms</span>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                <span class="select-arrow"></span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <span class="form-label">Adults</span>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                <span class="select-arrow"></span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <span class="form-label">Children</span>
                <select class="form-control">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                </select>
                <span class="select-arrow"></span>
              </div>
            </div>
          </div>
          <input type="submit" value="Reserve" class="btn btn-danger mt-2" style="width: 100%">
        </form>
      </div>
    </div>
  </div>
</div>
