<div class="text-xl-center">
  <h1>My flats</h1>
</div>
<div class="container">
  <% @flats.each do |flat| %>
    <div class="card-product my-3">
      <% if flat.photo.attached? %>
        <%= cl_image_tag flat.photo.key %>
      <% else %>
        <img src="https://liftlearning.com/wp-content/uploads/2020/09/default-image.png" />
      <% end %>
      <div class="card-product-infos">
        <h2 class="my-2"><%= flat.name %></h2>
        <p><%= flat.description.truncate(20, separator: ' ')%></p>
        <div class="card-flat-attr">
          <i class="fa-solid fa-bed"></i>
          <span><%= flat.rooms %></span>
          <i class="fa-solid fa-euro-sign"></i>
          <span><%= flat.price %></span>
        </div>
        <div class="my-4">
          <% if policy(flat).edit? %>
            <%= link_to "Edit", edit_flat_path(flat), class: "pink-btn" %>
          <% end %>
          <% if policy(flat).destroy? %>
            <%= link_to "Delete your flat", flat_path(flat), class: "blue-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
