<%# creating main container %>
<div class="container-fluid">
  <%# dividing in rows %>
  <div class="row">
    <%# distribution col-12 %>
    <div class="col-12">
      <h1>Your flats</h1>
    </div>
  </div>
  <div class="container-fluid">
  <div class="row">
    <% @flats.each do |flat| %>
      <%# dist md-4 %>
       <div class="col sm">
            <div class="w-50">
        <%# creating flat-card %>
        <div class="flat-card">
          <%# creating image, for future cloudinary updating %>
          <div class="flat-card-image">
            <%= cl_image_tag flat.photo.key, height:150, crop: :fill if flat.photo.attached? %>
          </div>
          <%# creating card-content like previous examples %>
          <div class="flat-card-content">
            <%# card-title only name, discuss to stablish an address %>
            <div class="flat-card-title">
              <h4><%= flat.name %></h4>
            </div>
            <%# distribution flex %>
            <div class="d-flex">
              <%# distribution of room guests and price %>
              <div class="flex align-items-center">
                <i class="fa-solid fa-bed"></i>
                <span><%= flat.rooms %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= flat.price %></span>
              </div>
              <div class="flex align-items-center ms-5">
                <%= link_to "View this flat", flat_path(flat), class: "btn btn-success" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
